<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" th:href="@{/css/esame/esame.css}" />
<head
	th:replace="fragments/myH.html :: headerfiles(title='pageTitle.esame')">
</head>
<meta charset="utf-8" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav th:replace="fragments/myH.html :: nav(index='/default')"></nav>
	<section>
		<div th:if="${esame}" th:object="${esame}">
			<h1 class="title" th:text="*{titolo}">
				<b>Nome</b>
			</h1>
			<div class="row">
				<div class="column">
					<img th:src="@{${esame.photosImagePath}}">
				</div>
				<div class="column">
					<b>Descrizione: </b>
					<p class="infot" th:text="*{descrizione}">"Lorem ipsum dolor
						sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua.....</p>
					<div class="column">
						<b>Tipologia Esame: </b>
						<p class="infot" th:text="*{tipoEsame.nome}">
						<div sec:authorize="hasAuthority('ADMIN')"><b>Paziente: </b> <p class="infot" th:text="${esame.credential.user.nome + ' ' + esame.credential.user.cognome}"></p></div>
					</div>
					<div class="column">
					<b>Data esame</b>
					<p class="infot"  th:text="${esame.dataRisultato}">19-07-1999</p>
					</div>
					
				</div>
			</div>
		</div>

	</section>
	<footer th:replace="fragments/myH.html :: fondo(index='/default')"></footer>
</body>
</html>