<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" content="width=device-width, initial-scale=1">
<title>Clinica</title>
<link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
	<nav class='topnav'>
		<a class="active" th:href="@{/index}">Home</a> <a href="medici"
			th:href="@{/medici}">Medici</a> <a href="tipoEsami"
			th:href="@{/tipoEsami}">TipologieEsami</a><span
				sec:authorize="hasAuthority('DEFAULT')"> <a href="tipoEsami" 
			th:href="@{/esami}">Esami</a> </span><a href="#informazioni">Informazioni</a>
		<div class="dropdown">
			<button class="dropbtn">
				Utente <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<div sec:authorize="isAnonymous()">
					<a th:href="@{/login}" th:text="#{index.login}">Login</a> <a
						th:href="@{/register}" th:text="#{index.register}">Registrati</a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<a th:href="@{/logout}">Esci</a>
				</div>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				Follow Us! <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="#"><img th:src="@{/images/home/facebook.png}"
					height="16px" width="16px"> Facebook</a> <a href="#"><img
					th:src="@{/images/home/instagram.png}" height="16px" width="16px">
					Instagram</a>
			</div>
		</div>
	</nav>
	<header>
		<div id='fotoclinica'></div>
		<div id='nome'>
			<img th:src="@{/images/home/Logo.png}" height="150px" width="451px">
		</div>
	</header>
	<section>
		<!-- main paragraph -->
		<div class="paragraph">
			<p class='welcome'>Benvenuti nel nostro sito!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
				fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
				deserunt mollit anim id est laborum</p>
			
		</div>



		<!-- gallery -->
		<div class="slideshow">
			<img class="mySlides" th:src="@{/images/home/clinica1.jpg}"
				style="width: auto; height: 680px"> <img class="mySlides"
				th:src="@{/images/home/clinica2.jpg}"
				style="width: auto; height: 680px"> <img class="mySlides"
				th:src="@{/images/home/clinica3.jpg}"
				style="width: auto; height: 680px"> <img class="mySlides"
				th:src="@{/images/home/clinica4.jpg}"
				style="width: auto; height: 680px">

			<script>
          	var slideIndex = 0;
          	carousel();

          	function carousel() {
            	var i;
            	var x = document.getElementsByClassName("mySlides");
            	for (i = 0; i < x.length; i++) {
              	x[i].style.display = "none";
            	}
            	slideIndex++;
            	if (slideIndex > x.length) {slideIndex = 1}
            	x[slideIndex-1].style.display = "block";
            	setTimeout(carousel, 2000); // Change image every 2 seconds
          	}
          </script>
		</div>
	</section>
	<footer th:replace="fragments/myH.html :: fondo(index='/default')"></footer>
</body>
</html>